<div class="main-container">
  <div class="login-container" [formGroup]="formLogin">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ex. admin@example.com" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput formControlName="password">
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled] = "formLogin.invalid" (click)="loginClick()">
      Ingresar
    </button>
  </div>
</div>
